# Ignore local configuration files
.env

# Local only - not for FTP (but OK for GitHub)
# config.php

# OS metadata
.DS_Store
Thumbs.db

#scripts 
*.sh
*.ps1   

#other
*.idea
*.vscode
*.swp
*.agent

